body{
    background-color: pink;
}

img{
    display: block;
    margin: auto;
    border-radius: 10%; /* rounded the corner */
    border: 2px solid red; /* to create border, thicknes, and color */
    box-shadow: 5px 5px 5px black;
    /*filter: brightness(110%);*/
} 

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 3px 5px white; 
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 10px 7px 15px black;
    background-image: linear-gradient(to bottom right, magenta,purple);
    margin: 10px;
    padding: 10px;
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

ol{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-align: center;
}