body{
    background-color: pink;
    transition: all 0.3s ease;
}

img{
    display: block;
    margin: auto;
    border-radius: 10%; /* rounded the corner */
    border: 2px solid red; /* to create border, thicknes, and color */
    box-shadow: 5px 5px 5px black;
    /*filter: brightness(110%);*/
} 

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 3px 5px white; 
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 10px 7px 15px black;
    background-image: linear-gradient(to bottom right, magenta,purple);
    margin: 10px;
    padding: 10px;
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

ol{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-align: center;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    background-color: pink;
}

.nav .navMenu{
    text-decoration: none;
}

.nav .navMenu:hover{
    background-color: violet;
    border-radius: 2px;
    box-shadow: 2px 2px 5px grey;
}

/* Card */
.productcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
}

.productcontainer .prod{
    width: 20%;
    height: fit-content;
    padding: 20px 20px;
    margin: 10px 10px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    background-color: violet;
    /*
    transition: 0.3s ease; (img zoom ketika hover)
    overflow: hidden;
    z-index: 1; (below the header's index*)
    */
}

.productcontainer .prod img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 5px grey;
    /* transition: 0.9s ease; */
}

.productcontainer .prod:hover{
    box-shadow: 0px 0px 15px grey;
}

/* .productcontainer .prod img:hover{
    transform: scale(1.2);
} */

.productcontainer .prod .pro-desc{
    margin-top: 5%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.productcontainer .prod .pro-desc .name{
    background-color: rgb(255, 203, 255);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

/* carousel */
.carousel{
    margin: 20px auto;
    width: 90%;
    /* border: 5px solid red; */
    display: flex;
    overflow-x: auto; /*Masking*/
    gap: 1em;
}

/* Remove the scrollbar  */
.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 20s infinite linear;
}

.card{
    flex: 0 0 5em; /*To make the card wider to the side */
    height: 5em;
    padding: 1em;
    background-color: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

.card:hover{
    box-shadow: 0px 0px 10px black;
}

@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;}
}

/* Profile pages */
.profileBody{
    margin: 0;
    background-color: white;
}

.profileCard{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.left {
  padding: 20px;
  width: 30%;
  text-align: center;
}

.left img {
  width: 60%;
  border-radius: 15px;
  margin-bottom: 15px;
  border: 0px;
  box-shadow: 0px 5px 10px grey;
  cursor: pointer;
  transition: 0.4s ease;
}

.left img:hover{
    background-color: darksalmon;
    transform: scale(1.1);
}

.info p, .info li {
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}

/* Right Section */
.right {
  width: 70%;
  padding: 10px;
  background-color: whitesmoke;
}

.specialty {
  font-size: 14px;
  letter-spacing: 1px;
}

.summary {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  flex: 1;
  cursor: pointer;
}

.summary h4 {
  margin: 0 0 8px;
  font-size: 13px;
  font-weight: bold;
}

.summary:hover{
  background-color: violet;
  transition: 0.5s ease;
}

/* === Tombol === */

.nav .forMenu{
    width: 80%;
    text-align: center;
}

.theme-btn {
  background-color: #7d0367;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.theme-btn:hover {
  background-color: #bf04c6;
}

/* === Mode Gelap === */
.dark-mode {
  background-color: #121212;
  color: #f5f5f5;
}

.dark-mode .nav{
    background-color: #121212;
}

.dark-mode .navMenu{
    color: white;
}

.dark-mode .theme-btn {
  background-color: #f5c518;
  color: #222;
}

.dark-mode .theme-btn:hover {
  background-color: #d8aa00;
}

.dark-mode h1{
    color: black;
}

.dark-mode .profileCard .left{
    color: white;
}

.dark-mode .profileCard .right{
    color: black;
}

.dark-mode .profileCard .right{
    background-color: rgb(202, 202, 202);
}

.dark-mode .productcontainer{
    color: black;
}